{% extends 'base.html.twig' %}

{% block title %}Hello PasswordController!{% endblock %}

{% block body %}
    {% if password %}

    {% else %}
        <h1>There are no passwords saved</h1>
    {% endif %}
{% endblock %}
