{% extends 'base.html.twig' %}

{% block title %}Passwords{% endblock %}

{% block body %}
    {% if passwords %}
        <div>
            <div>
                <h1>your passwords </h1>
            </div>
            <div>
                <div>
                    <table>
                        <thead>
                        <tr>
                            <th>Local</th>
                            <th>Level</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for password in passwords %}
                                    <tr>

                                        <td><a href="{{ path('app_password_personal',{ 'id':password.id}) }}">{{ password.local }}</a></td>
                                        <td>{{ password.password }}</td>

                                    </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% else %}
        <h1>There are no passwords saved</h1>
    {% endif %}
{% endblock %}
