{% extends 'base.html.twig' %}

{% block title %}Bank of Keys{% endblock %}

{% block body %}
<div class=" cover cover-container d-flex  p-3 mx-auto flex-column text-shadow">
    <p class="text-center">Drug dealing swine spilling</p>
    <ul>
    </ul>
</div>
{% endblock %}
