.logout-button:hover {
    background-color: red;
    transition: background-color 1s;
}


.cover{
    background-image: url('../img/cover.jpg');
    background-size: cover;
    height: 95vh;

}
p{
    color:red
}red