.logout-button:hover {
    background-color: red;
    transition: background-color 1s;
}

.cover{
    background-image: url('../img/cover2.jpg');
    background-size: cover;
    height: 95vh;
}

.home-text{
    color: cyan;
    text-align: center;
}
.home-text-padding{
    padding-top: 50px;
}
.home-paragraf-text{
    color: cyan;
}

.scale-in-center{
    animation: scale-in-center 1s cubic-bezier(0.25, 0.460, 0.450, 940) both;
}